# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [1]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini adalah tuple", T1)

#Menampilkan tipe struktur data
type(T1)

Ini adalah tuple (1, 'dua', True, (1+2j))

tuple

**Latihan**

In [2]:
TU = (6, "Ummu", False, 7+2j)
print("Ini adalah tuple", TU)

type(TU)

Ini adalah tuple (6, 'Ummu', False, (7+2j))

tuple

**Sifat-sifat Tuple**

In [3]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak bisa diganti/Immutable
T1[2] = "manusia"

In [ ]:
#Dapat diindeks/slicing
print("Element kedua dari tuple dari T1 adalah", T1[1])

In [ ]:
#Dapat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

In [ ]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

**Latihan 2**

In [ ]:
TN = (5, "linda", 5j+1, True)
TG = TU + TN